<!DOCTYPE html>
<html>

<head>
  <title>AGILE API spec</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
  <meta name="Description" content="AGILE API specification documentation">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>

<body>
  <div class="row">
    <div class="columns large-3">
      <%= menu %>
    </div>
    <div class="columns large-9">
      <%= content %>
    </div>
  </div>
</body>
</html>
